/*! CSS Used from: https://d3gelgmyzspcuw.cloudfront.net/78941c514/css/bootstrap.css ; media=screen */
@media screen{
    a{background-color:transparent;}
    a:active,a:hover{outline:0;}
    button,input{color:inherit;font:inherit;margin:0;}
    button{overflow:visible;}
    button{text-transform:none;}
    button{-webkit-appearance:button;cursor:pointer;}
    button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
    input{line-height:normal;}
    input[type="checkbox"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
    *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    *:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    input,button{font-family:inherit;font-size:inherit;line-height:inherit;}
    a{color:#428bca;text-decoration:none;}
    a:hover,a:focus{color:#2a6496;text-decoration:underline;}
    a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
    .row{margin-left:-10px;margin-right:-10px;}
    .col-sm-6,.col-xs-10,.col-xs-12{position:relative;min-height:1px;padding-left:10px;padding-right:10px;}
    .col-xs-10,.col-xs-12{float:left;}
    .col-xs-12{width:100%;}
    .col-xs-10{width:83.33333333%;}
    @media (min-width:569px){
        .col-sm-6{float:left;}
        .col-sm-6{width:50%;}
    }
    .row:before,.row:after{content:" ";display:table;}
    .row:after{clear:both;}
}
/*! CSS Used from: https://d3gelgmyzspcuw.cloudfront.net/78941c514/css/style.css ; media=screen */
@media screen{
    *{margin:0;padding:0;}
    .col-centered,.row .col-centered{float:none;margin:0 auto;}
    a,a:focus{color:#00b5e2;text-decoration:none;}
    a:hover{color:#00b5e2;text-decoration:underline;}
    .text-center{text-align:center;}
    button{white-space:nowrap;cursor:pointer;}
    a:focus{color:#00b5e2;text-decoration:none;}
    button,input{color:inherit;font:inherit;margin:0;}
    input[type=email],input[type=password]{-webkit-appearance:none;}
    .mfb-form input,.mfb-form .mfb-form__input{padding:2px 5px;border:1px solid #c8c8c8;font-size:16px;vertical-align:top;background:#FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
    .mfb-form input::-webkit-input-placeholder{color:#C8C8C8;}
    .mfb-form input:-moz-placeholder{color:#C8C8C8;}
    .mfb-form input::-moz-placeholder{color:#C8C8C8;}
    .mfb-form input:-ms-input-placeholder{color:#C8C8C8;}
    .mfb-form input[type=checkbox]{vertical-align:middle;}
    .mfb-form label{display:block;margin-bottom:0;padding-bottom:3px;font-size:16px;color:#757575;}
    .mfb-form .checkbox--aligned label{position:relative;padding-left:20px;padding-bottom:0;text-transform:none;font-size:14px;color:#2b2b2b;}
    .mfb-form .checkbox--aligned input[type="checkbox"]{position:absolute;left:0;margin-left:0;margin-top:4px;}
    .btn{display:inline-block;padding:0 16px;font-size:18px;font-weight:400;text-decoration:none;color:#fff;cursor:pointer;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
    .btn:hover,.btn:focus{color:#fff;text-decoration:none;}
    .btn-normal{min-height:48px;line-height:48px;}
    .btn:focus,.btn-normal:focus{text-decoration:none;}
    .btn-main{background-color:#FFAD00;background-image:-webkit-gradient(linear, left top, left bottom, from(#FFC855), to(#FFAD00));background-image:-webkit-linear-gradient(top, #FFC855, #FFAD00);background-image:-moz-linear-gradient(top, #FFC855, #FFAD00);background-image:-o-linear-gradient(top, #FFC855, #FFAD00);background-image:linear-gradient(to bottom, #FFC855, #FFAD00);color:#fff;border:none;}
    .btn-main:active{background:#FFC855;}
}
/*! CSS Used from: https://d3gelgmyzspcuw.cloudfront.net/78941c514/css/6ba569e.css ; media=screen */
@media screen{
    .user-page-block h3{font-size:18px;font-weight:bold;}
    .user-form .mfb-form__row{margin-bottom:20px;}
    .user-form label{font-size:14px;text-transform:none;}
    .user-form .mfb-form__input{width:100%;}
    .user-form .user-login-form__row__password{margin-bottom:10px;}
    .user-login-form__pass-reset{text-align:left;}
    .user-form .user-login-form__row__button{margin-top:0;margin-bottom:0;text-align:right;}
    .user-login-form__link{color:#767676;}
    .user-login-form__remember-me{margin-bottom:20px;}
    .user-login-form__button{width:100%;}
    .user-login-form__remember-me{text-align:left;}
    @media (min-width: 569px){
        .user-login-form__remember-me{margin-bottom:0;}
        .user-login-form__button{width:auto;}
    }
    .user-form .user-reg-form__row__button{text-align:right;}
    .user-reg-form__button{width:100%;}
    @media (min-width: 569px){
        .user-form .user-reg-form__row__email,.user-form .user-reg-form__row__terms{margin-bottom:30px;}
        .user-form .user-reg-form__row__button{margin-top:0;margin-bottom:0;}
        .user-reg-form__button{width:auto;}
    }
    .login-accordion{margin-bottom:20px;}
    .login-accordion__title{position:relative;margin-bottom:0;cursor:pointer;}
    .login-accordion__title:after{content:"";display:inline-block;width:6px;height:6px;margin-left:5px;vertical-align:middle;border-style:solid;border-color:#646464;border-width:0 0 2px 2px;transform:rotate(-45deg);transition:transform 0.3s;}
    .login-accordion__block--closed .login-accordion__title:after{transform:rotate(135deg);}
    .login-accordion__panel{margin:20px 0;overflow:hidden;}
    .login-accordion__block--closed .login-accordion__panel{display:none;}
    .login-options__splitter{position:relative;line-height:22px;text-align:center;}
    .login-options__splitter span{position:relative;display:inline-block;padding:10px;background-color:#ffffff;}
    .login-options__splitter:before{content:"";position:absolute;top:50%;left:15px;right:15px;border-top:1px solid #c8c8c8;}
}
/*! CSS Used from: https://d3gelgmyzspcuw.cloudfront.net/78941c514/css/redesign_alpha.css ; media=screen */
@media screen{
    .btn-main{background-image:none;}
}