.showBlock {
    width: 100%;
    height: 216px;
    /*border: 2px solid black;*/
    margin: 0 auto 0 auto;
    border-radius: 10px;
}
.upShowBlock {
    width: 100%;
    height: 160px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.botShowBlock {
    /*block: flex;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.upOneGridForShow {
    padding: 5px 0px 0px 5px;
    display: flex;
}
.timeShow{
    font-size: 2em;
    padding-right: 5px;
}
.dataShow {
    background-color: #eeefe2;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    padding-left: 2px;
}
.timeInRoad{
    padding-top: 10px;
    padding-left: 10px;
    color: #7e7e7e;
}
.upTwoGridForShow{
    width: 100%;
    padding: 5px 0px 0px 10px;
}
.cityName{
    font-size: 1.2em;
}
.butTic{
    width: 100px;
    height: 50px;
    background-color: #ef3006;
    color: white;
    border-radius: 10px;
}
.threeGridForShow {
    border-left-color: #ef40b0;
    border-left-style: dotted;
    border-left-width: 3px;
    display: flex;
    justify-content: space-between;
}
.rightShowBlock{
    padding-left: 0px;
    margin: auto;
}
.leftShowBlock {
    width: 200px;
}
.textPrice{
    margin-top: 60px;
    font-size: 1.5em;
}
.upTwoGridForShow{

}
.fixCalendar{
    height: 90px;
    width: 100%;
}
@media screen and (max-width:1204px) {
    .blockShow{
        width: 100%;

    }
}
@media screen and (max-width:769px) {
    .blockShow{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .blockCalender{
        display: none!important;
    }
    .showBlock{
        width: 100%;
        height: 100%;

    }
    .upShowBlock{
        width: 100%;
        height: 190px;
        display: block;
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    .blockCalender {
        display: none;
    }
    .fixCalendar{
        width: 100%;
        display: block;
    }
    .oneGridForShow {
        width: 50%;
        float: left;
    }
    .twoGridForShow {
        float: left;
        width: 50%;
    }
    .threeGridForShow {
        width: 100%;
        border-left: none;
        /*background: red;*/
    }
    .botShowBlock{
        width: 100%;
        height: 100%;
    }
    .leftShowBlock{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textPrice{
        margin-top: 0px;
        /*margin-left: 20px;*/
        font-size: 1.5em;
    }
    .detailsShow{
        width: 90%;
    }
    .timeInRoad {
        position: relative;
        margin-top: 0px;
        width: 200px;
    }
    .rightShowBlock{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .textPass {
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 0px;
    }
    .butTic{
        width: 80px;
        margin-right: 10px;
        border-radius: 10px 10px;
    }
    .dataShow {
        width: 60px;
    }
    .upOneGridForShow{}
    .cityName{
        font-size: 1em;
    }
}
@media screen and (max-width:480px) {
    .blockShow{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .blockCalender{
        display: none!important;
    }
    .showBlock{
        width: 100%;
        height: 100%;

    }
    .upShowBlock{
        width: 100%;
        height: 190px;
        display: block;
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    .blockCalender {
        display: none;
    }
    .fixCalendar{
        width: 100%;
        display: block;
    }
    .oneGridForShow {
        width: 50%;
        float: left;
    }
    .twoGridForShow {
        float: left;
        width: 50%;
    }
    .threeGridForShow {
        width: 100%;
        border-left: none;
        /*background: red;*/
    }
    .botShowBlock{
        width: 100%;
        height: 100%;
    }
    .leftShowBlock{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textPrice{
       margin-top: 0px;
        /*margin-left: 20px;*/
        font-size: 1.5em;
    }
    .detailsShow{
        width: 90%;
    }
    .timeInRoad {
        position: absolute;
        margin-top: 25px;
        width: 200px;
    }
    .rightShowBlock{
        display: flex;
        flex-direction: row-reverse;
    }
    .textPass {
        margin-top: 15px;
        margin-right: 10px;
    }
    .butTic{
        border-radius: 10px 0 0 0;
    }
    .dataShow {
        width: 60px;
    }
    .upOneGridForShow{

    }
}
@media screen and (max-width:370px) {
    .blockShow{
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .blockCalender{
        display: none!important;
    }
    .showBlock{
        width: 100%;
        height: 100%;

    }
    .upShowBlock{
        width: 100%;
        height: 190px;
        display: block;
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    .blockCalender {
        display: none;
    }
    .fixCalendar{
        width: 100%;
        display: block;
    }
    .oneGridForShow {
        width: 50%;
        float: left;
    }
    .twoGridForShow {
        float: left;
        width: 50%;
    }
    .threeGridForShow {
        width: 100%;
        border-left: none;
        /*background: red;*/
    }
    .botShowBlock{
        width: 100%;
        height: 100%;
    }
    .leftShowBlock{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textPrice{
        margin-top: 0px;
        /*margin-left: 20px;*/
        font-size: 1.5em;
    }
    .detailsShow{
        width: 90%;
    }
    .timeInRoad {
        position: absolute;
        margin-top: 25px;
        width: 200px;
    }
    .rightShowBlock{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .textPass {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 0px;
    }
    .butTic{
        width: 80px;

        border-radius: 10px 0 0 0;
    }
    .dataShow {
        width: 60px;
    }
    .upOneGridForShow{}
    .cityName{
        font-size: 1em;
    }
}
.fusion-fullwidth{
    display: block;
    box-sizing: border-box;

}
/*@media screen and (max-width:600px){*/
/*    .thereMatrix{width:100%;}*/
/*}*/
@media screen and (min-width:601px){
    .thereMatrix{width:100vw;}
}