*{
    padding: 0;
    margin: 0;
}
.butTictwo {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.4em;

}
.mainImgLoad{
    z-index: 5000000;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.imgLoad {
    width: 150px;
    height: 100%;
    background-image: url(../30.gif);
    background-size: 100%;
}
.mainBlockError {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.errorSend {
    font-size: 1.8em;

}
.classPlus {
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}
.classMinus {
    position: absolute;
    margin-left: -40px;
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}
.blockShow{
    position: relative;
    /*margin: auto auto auto auto;*/
    margin-bottom: 20px;
    /*display: flex;*/
    /*margin-top: 20px;*/
    background-color: #f5f5f5;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    width: 1200px;

    /*height: 150px;*/
}
.positionDeparture{
    padding: 10px;
}
.trip-departure-datetime {
    font-size: 1em;
    font-weight: 800;
}
.upShow {
    font-size: 1em;
    font-weight: 800;
}
.showmobileib{
    display: none;
}
.show-mobile{
    display: none;
}
.butSelect{
}
.btnGreen{
    color: white;
}
.blockGreen {
    width: 90px;
    height: 40px;
    background-color: #2aa345;
    border-radius: 15px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
.btnGreen:visited {
    color: white;
    text-decoration: none;
}
.btnGreen:active {
    color: white;
    text-decoration: none;
}
.upMarg {
    margin-top: 10px;
}
/*цвет ценника*/
.colorMoney {
    color: #2aa345;
    font-size: 1em;
    font-weight: 800;
}
.detailsShow{
    /*margin-top: 20px;*/
    width: 100%;
    /*height: 100px;*/
    /*background-color: #fff;*/
    /*border-radius: 5px;*/
    /*border: 2px solid #C0C0C0;*/
    /*opacity: 0.7;*/
}
.pe{
    color: red;
}
.flex {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}
.nameCityStation {
    font-size: 1.2em;
    font-weight: 550;

}
.botStation {
    padding-bottom:  5px;

}
.stationBlock {
    display: flex;
}
.imgBlock {
    width: 30px;
    height: 50px;
}
.imgClass {
    width: 21px;
    height: 21px;
    border: 2px solid red;
    border-radius: 50%;
    opacity: 0.5;
}
.imgClassBot {
    width: 2px;
    height: 25px;
    /*border: 2px solid green;*/
    /*border-width: 0px 2px 0px 0px;*/
    margin-left: 0.75em;
    margin-top: 2px;
    /*margin: auto;*/
    background-color: red;
    opacity: 0.5;
}
.stationBlock .imgBlock .imgClassBot:last-child {
    display: block;
}
.blockCalender{
    /*margin-left: 380px;*/
    position: relative;
    left:50%;
    margin-left:-27%;
    height: 20px;
    width: 1200px;
}
.styleFindBlock{
 border: 2px solid darkgreen;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(../bg.jpg);
    background-position: center;
}
.fixBox{
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: 210px;
    background-position: center;
}
.a{
    margin-top: 20px;
    margin-bottom: 20px;
}
.styleForDays{
    border:2px solid darkgray;
    color: #1a1a1a;
}
.myCab{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.textCab {
    width: 100%;
     margin-right: 150px;
 }
.textCab:hover {
    margin-right: 150px;
    color: red;
    text-decoration: underline;
}
.blockSign {
    background-color: white;
    width: 500px;
    border:1px solid red ;
    border-radius: 10px;
}
.cabin {
    width: 100%;
    height: 800px;
    margin-left: 400px;
    margin-top: 10px;
}
.errorLoginNone{
    display: none;
    color:red;
}
.errorLogin{
 display: block;
    color:red;
}
.errorPasswordNone{
    display: none;
    color:red;
}
.errorPassword{
    display: block;
    color:red;
}
.errorSurnameNone{
    display: none;
    color:red;
}
.errorSurname{
    display: block;
    color:red;
}
.errorNameNone{
    display: none;
    color:red;
}
.errorName{
    display: block;
    color:red;
}
.errorEmailNone{
    display: none;
    color:red;
}
.errorEmail{
    display: block;
    color:red;
}
.errorPhoneNone{
    display: none;
    color:red;
}
.errorPhone{
    display: block;
    color:red;
}
.erAuthNone {
    display: none;
    color:red;
}
.erAuth {
    display: block;
    color:red;
}
.inputUser {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.2em;
    background: #edffe3;
    outline: none;
    margin-bottom: 20px;
}
.styleTextUser {
    font-size: 1.3em;
}
.styleTextUserSend {
    cursor: pointer;
    font-size: 1.8em;
    background: #b32525;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
}
.showSignBlock {
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showSignBlockTwo {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border-left: 2px solid red;*/
    padding-left: 10px;
}
.showSignBlockMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.styleTextUserSendReg {
    cursor: pointer;
    font-size: 1.8em;
    background: #b32525;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 3px;
    /*width: 160px;*/
}
.classForButSendReg{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.mainMainBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:769px) {
    .search-form--new {

    }
    .fixBox{
        width: 100%;
    }
    .styleFindBlock {
        padding: 0 25px;
        border: none;
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    .listIndex {
        position: absolute;
        z-index: 900;
    }
    .form-field__label {
        z-index: 900;
    }
    .form-field {
        z-index: 900;
    }
    .form-field--has-value {
        z-index: 900;
    }
    .blockCalender {
        display: none;
    }
    .blockShow {
        width: 100%;
    }
    .next-date {
        display: none;
    }
    .form-field__label {
        z-index: 50000;
    }
    .form-field--has-value {
        z-index: 900000;
    }
    .otkuda {
        z-index: 900000;
    }
    .fixBox {
        width: 100%;
    }
    .blockSign {
        width: 100%;
    }
    h4 {
        font-size: 1.2em;
    }
    .styleTextUserSend {
        font-size: 1.3em;
    }
    .showSignBlockMain{
        display: flex;
        flex-direction: column;
    }
    .showSignBlock{
        padding: 0;
        margin: 0;
    }
    .showSignBlockTwo{
        padding: 0;
        margin: 0;
    }
    .styleTextUserSendReg {
        font-size: 1.3em;
    }
    .textCab {
        padding: 0;
        margin: 0;
    }
    /*.newBlockPass {*/
    /*    width: 50px;*/
    /*    height: 500px;*/
    /*    background: white;*/
    /*    border: 2px solid black;*/
    /*}*/
    .classPlus {
        font-size: 2.3em;
        margin-top: 5px;
        margin-left: -30px;
    }
    .classMinus {
        font-size: 2.3em;
        margin-top: 2px;
        margin-left: -50px;
    }
    .cabin {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .topFix {
        margin-top: 90px;
    }
    .errorSend {
        font-size: 1.5em;
        margin-left: 10px;
    }
}

@media screen and (max-width:480px) {
    .search-form--new {

    }
    .fixBox{
        width: 100%;
    }
    .styleFindBlock {
        padding: 0 25px;
        border: none;
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    .listIndex {
        position: absolute;
        z-index: 900;
    }
    .form-field__label {
        z-index: 900;
    }
    .form-field {
        z-index: 900;
    }
    .form-field--has-value {
        z-index: 900;
    }
    .blockCalender {
     display: none;
    }
    .blockShow {
        width: 100%;
    }
    .next-date {
        display: none;
    }
    .form-field__label {
        z-index: 50000;
    }
    .form-field--has-value {
        z-index: 900000;
    }
    .otkuda {
        z-index: 900000;
    }
    .fixBox {
        width: 100%;
    }
    .blockSign {
        width: 100%;
    }
    h4 {
        font-size: 1.2em;
    }
    .styleTextUserSend {
        font-size: 1.3em;
    }
    .showSignBlockMain{
        display: flex;
        flex-direction: column;
    }
    .showSignBlock{
        padding: 0;
        margin: 0;
    }
    .showSignBlockTwo{
        padding: 0;
        margin: 0;
    }
    .styleTextUserSendReg {
        font-size: 1.3em;
    }
    .textCab {
        padding: 0;
        margin: 0;
    }
    /*.newBlockPass {*/
    /*    width: 50px;*/
    /*    height: 500px;*/
    /*    background: white;*/
    /*    border: 2px solid black;*/
    /*}*/
    .classPlus {
        font-size: 2.3em;
        margin-top: 5px;
        margin-left: -30px;
    }
    .classMinus {
        font-size: 2.3em;
        margin-top: 2px;
        margin-left: -50px;
    }
    .cabin {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .topFix {
        margin-top: 90px;
    }
    .errorSend {
        font-size: 1.5em;
        margin-left: 10px;
    }
}
@media screen and (max-width:370px) {
    .search-form--new {

    }
    .fixBox{
        width: 100%;
    }
    .styleFindBlock {
        padding: 0 25px;
        border: none;
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    .listIndex {
        position: absolute;
        z-index: 900;
    }
    .form-field__label {
        z-index: 900;
    }
    .form-field {
        z-index: 900;
    }
    .form-field--has-value {
        z-index: 900;
    }
    .blockCalender {
        display: none;
    }
    .blockShow {
        width: 100%;
    }
    .next-date {
        display: none;
    }
    .form-field__label {
        z-index: 50000;
    }
    .form-field--has-value {
        z-index: 900000;
    }
    .otkuda {
        z-index: 900000;
    }
    .fixBox {
        width: 100%;
    }
    .blockSign {
        width: 100%;
    }
    h4 {
        font-size: 1.2em;
    }
    .styleTextUserSend {
        font-size: 1.3em;
    }
    .showSignBlockMain{
        display: flex;
        flex-direction: column;
    }
    .showSignBlock{
        padding: 0;
        margin: 0;
    }
    .showSignBlockTwo{
        padding: 0;
        margin: 0;
    }
    .styleTextUserSendReg {
        font-size: 1.3em;
    }
    .textCab {
        padding: 0;
        margin: 0;
    }
    /*.newBlockPass {*/
    /*    width: 50px;*/
    /*    height: 500px;*/
    /*    background: white;*/
    /*    border: 2px solid black;*/
    /*}*/
    .classPlus {
        font-size: 2.3em;
        margin-top: 5px;
        margin-left: -30px;
    }
    .classMinus {
        font-size: 2.3em;
        margin-top: 2px;
        margin-left: -50px;
    }
    .cabin {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .topFix {
        margin-top: 90px;
    }
    .errorSend {
        font-size: 1.5em;
        margin-left: 10px;
    }
}
button.close{float:right;}
.close span{
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    /* font: inherit; */
    font-size: 20px;
}
.modal-header {
    display: block;
}
.verdad-btn{
    padding: 9px 23px;
    font-size:13px;
}